.mainChat
  .header
    .header__leftBox
      <h2 class = "CurrentGroupName">aaa</h2>
      <ul class = "memberList">
      <li class = "member">Member:</li>
      <li class = "member">satou<li>
    .header__editBtn
      = link_to "#",class: "submitEditBtn" do
        <p class = "Edit">Edit</p>
  .body
    .info
      <p class = userName>masa</p>
      <p class = timeStamp>2020/02/21(Fri)17:48</p>
    .message
      <p class = message>何してる？
    .info
      <p class = userName>masaya</p>
      <p class = timeStamp>2020/02/21(Fri)17:50</p>
    .message
      <p class = message>勉強
    .info
      <p class = userName>masa</p>
      <p class = timeStamp>2020/02/21(Fri)17:51</p>
    .message
      <p class = message>ウェーイ
  .form
    .newMessage
      .inputBox
        .inputBox__text
          %input{type: "text",class: "inputBoxText",placeholder: "type a message"}
          %label{class: "inputBoxImage"}
            <i class="fas fa-images"></i>
            %input{type: "file",class: "inputImageFile"}
      .sendBox
        %input{type: "submit", value: "send",class: "send"}

