.sideBar
  .sideBar__header
    .sideBar__header__topItems
      .sideBar__header__topItems__name
        masa
      .sideBar__header__topItems__icons
        = link_to "#", class: "icon" do
          <i class='far fa-edit'></i>
        = link_to "#", class: "icon" do
          <i class="fas fa-cog"></i>
  .sideBar__groupLists
    = link_to "#",class: "groupId" do
      .group
        <p class = "groupName">aaa</p>
        <p class = "latestMessage">メッセージはまだありません
      .group
        <p class = "groupName">bbb</p>
        <p class = "latestMessage">おーはよー
      .group
        <p class = "groupName">ccc</p>
        <p class = "latestMessage">メッセージはまだありません