.sideBar
  .header
    .topItems
      %h3.topItems__name
        = current_user.name
      .topItems__icons
      = link_to "#", class: "icon" do
        <i class='far fa-edit'></i>
      = link_to edit_user_path(current_user), class: "icon"  do
        <i class="fas fa-cog"></i>

  .groupLists
    = link_to "#",class: "groupId" do
      .group
        %p.groupName aaa
        %p.latestMessage メッセージはまだありません
      .group
        %p.groupName bbb
        %p.latestMessage おーはよー
      .group
        %p.groupName ccc
        %p.latestMessage メッセージはまだありません