.mainChat{
  height: 100vh;
  width: calc(100vw - 300px);
  .header{
    @include flexAlignCenter;
    justify-content: space-between;
    height: 100px;
    padding:0 40px ;
    border-bottom: solid 1px  #eeeeee;
    background-color:$mainWhite;
    &__leftBox{
      margin-top: 35px;
      .CurrentGroupName{
        margin-bottom: 15px;
        color: #333333;
        font-size: 20px;
      }
      .memberList{
        display: flex;
      }
      .member{
        margin-right: 5px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__editBtn{
      width: 72px;
      height: 40px;
      margin: 28px 0;
      padding: 0 20px;
      border: solid 1px $mainBlue;
    }
    .submitEditBtn{
      text-decoration: none;
    }
    .Edit{
      color: $mainBlue;
      line-height: 40px;
    }
  }

  .body{
    height: calc(100% - 190px);
    padding: 46px 40px ;
    background-color: #fafafa;
    overflow: scroll;
    .info{
      @include flexAlignCenter;
      padding-top: 46px;
      padding-bottom: 12px;
      .userName{
        color: #333333;
        font-size: 16px;
      }
      .timeStamp{
        margin-left: 7px;
        color: #999999;
        font-size: 12px;
      }
    }
    .message__content{
      color: #434a54;
      font-size: 14px;
    }
  }

  .form{
    @include flexAlignCenter;
    height: 90px;
    padding: 0 40px;
    background-color:#d2d2d2;
    .inputBox{
      @include flexAlignCenter;
      width: 100%;
      height: 90px;
      &__text{
        width: 100%;
        height: 100%;
        padding: 0 10px;
        .inputBoxText{
          width: 100%;
          height: 50px;
          padding: 0 3px;
        }
        .new_message{
          width: 100%;
          height: 100px;
          display: flex;
          padding: 25px  10px;
          align-items: center;
          justify-content: space-between;
          position: relative;
        }
        .field_with_errors{
          width: 100%;
          height: 100px;
          @include flexAlignCenter;
        }
        &__mask{
          position: absolute;
          right: 110px;
          .inputImageFile{
            display: none;
          }
        }
      }
    }
    .sendBox{
      width: 90px;
      height: 50px;
      margin-left: 10px;
      background-color: $mainBlue;
      color: $mainWhite;
      font-size: 20px;
    }
  }
}

